body{
    background-color: rgba(0, 255, 255, 0.484);
}
.bg_form{
    background-color: rgb(231, 238, 238);
    width: 400px;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
}
.input-group{
    margin-bottom: 1rem;
}
.label{
    font-size: 20px;
    font-weight: bold;
    line-height: 25px;
}
.input{
    width: 95%;
    padding-left: 15px;
    line-height: 2rem;
    border-radius: 8px;
    color: rgba(0, 0, 0, 0.694);
    background-color: #fff;
    border: 2px solid #e0dfea71;
}
.error-message {
    color: red;
  }